## Sequencing data filepaths
export DATADIR=/gpfs/mrc0/projects/Research_Project-MRC190311/ChIPSeq/<project_name>

export METADIR=${DATADIR}/0_metadata
export RAWDATADIR=${DATADIR}/1_raw
export FASTQCDIR=${RAWDATADIR}/fastqc
export TRIMDIR=${DATADIR}/2_trimmed
export ALIGNEDDIR=${DATADIR}/3_aligned

## Software/script filepaths
export SCRIPTDIR=${SLURM_SUBMIT_DIR}
export REFGENOME=/gpfs/mrc0/projects/Research_Project-MRC190311/references/grch38/ncbi/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta
export CHROMHMM=/gpfs/mrc0/projects/Research_Project-MRC190311/software/ChromHMM

## conda filepaths
export ENVDIR=/lustre/home/${USER}/.conda/envs/encodeqc 
