## Sequencing data filepaths
export DATADIR=/gpfs/Research_Project-MRC190311/WGBS/<project_name>
export METADIR=${DATADIR}/0_metadata
export RAWDATADIR=${DATADIR}/1_raw
export FASTQCDIR=${RAWDATADIR}/fastqc
export TRIMDIR=${DATADIR}/2_trimmed
export ALIGNEDDIR=${DATADIR}/3_aligned

## Software/script filepaths
export SCRIPTDIR=/gpfs/mrc0/projects/Research_Project-MRC190311/scripts/sequencing
export REFGENOME=/gpfs/mrc0/projects/Research_Project-MRC190311/references/grch38/ncbi/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta
export CHROMHMM=/gpfs/mrc0/projects/Research_Project-MRC190311/software/ChromHMM

## conda filepaths
export ENVDIR=/lustre/home/jms260/.conda/envs/encodeqc # this is where the environment will be installed, if unsure use /lustre/home/{USERNAME}/.conda/envs/encodeqc
